<launch>
  <node pkg="rosserial_arduino" type="serial_node.py" name="serial_arduino">
    <param name="port" value="/dev/ttyACM0" />
  </node>

  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keybord">  </node>

  <include file="$(find ydlidar_ros)/launch/lidar.launch"/>

  <include file="$(find hector_slam_launch)/launch/tutorial.launch"/>

</launch>
